{% extends "base.html" %}

{% load thumbnail %}

{% block title %}{{ imagefile.name }}{% endblock %}

{% block page %}
<h1>{{ imagefile.name }}</h1>
{% thumbnail imagefile.image "800x600" as im %}
<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
{% endthumbnail %}
{% if imagefile.description %}
<p>{{ imagefile.description }}</p>
{% endif %}
{% endblock %}

