{% extends "base.html" %}

{% load thumbnail %}
{% load list_filters %}

{% block title %}{% endblock %}

{% block page %}

<p>
<a href="{% url gallery.list %}" title="Smazat tagy">Smazat tagy</a>
</p>
<p><strong>Použité tagy:</strong>
{% for tag in used_tags %}
<a href="{% url gallery.list %}?tags={{ used_tags|remove:tag|sort|join:"+"|urlencode }}" title="{{ tag }}">{{ tag }}</a>
{% endfor %}
</p>
<p>
{% for tag in tags %}
<a href="{% url gallery.list %}?tags={{ used_tags|append:tag|sort|join:"+"|urlencode }}" title="{{ tag.name }}">{{ tag.name }}</a>
{% endfor %}
</p>

{% for image in imagefile_list %}
{% thumbnail image.image "200x150" as im %}
<a title="{{ image.description }}" href="{% url gallery.image image.pk %}" target="_blank"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ image.description }}" /></a>
{% endthumbnail %}
{% endfor %}
{% endblock %}

