{% extends "articles/base.html" %}

{% block title %}{{ article.title }}{% endblock title %}

{% block left %}
{% if article.menu_html or article.menu_html != '' %}
        <h2>Obsah</h2>
        {{ article.menu_html|safe }}
{% endif %}
{% endblock left %}

{% block content %}
<h1>{{ article.title }}</h1>
{% if article.article %}
{% if user.is_authenticated and user == article.user %}
<p class="actions"><a class="edit" href="{% url article-edit article.url %}" title="Editovat článek {{ article.title }}">Editovat</a>&nbsp;|&nbsp;<a class="delete" href="{% url article-delete article.url %}" title="Smazat článek {{ article.title }}">Smazat</a></p>
{% endif %}

{{ article.article_html|safe }}
{% endif %}
{% endblock content %}

