{% extends "articles/base.html" %}

{% load i18n %}

{% block title %}smazat článek{% endblock title %}

{% block content %}
<div class="content">
    {% trans "Opravdu smazat?" %}

    <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
        <table>
            {{ form }}
            <tr><td></td><td><input class="submit" type="submit" name="submit" value="{% trans "Smazat" %}" /></td></tr>
        </table>
    </form>

    <a href="{% url article-show object.url  %}">{% trans "Zpět na článek" %}</a>
</div>
{% endblock content %}
