{% extends "articles/base.html" %}

{% block script %}
<script type="text/javascript" src="{{ STATIC_URL }}markitup/jquery.markitup.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}markitup/sets/markdown/set.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.simplemodal.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/markitup_init.js"></script>
{% endblock script %}

{% block style %}
<link href="{{ STATIC_URL }}markitup/skins/simple/style.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}markitup/sets/markdown/style.css" rel="stylesheet" type="text/css" />
{% endblock style %}

{% block title %}editace článku{% endblock title %}

{% block content %}
<h1>Editace článku</h1>
<form method="post" action=".">
    {% csrf_token %}
    <table class="form">
        {{ form }}
    </table>
    <input class="submit" type="submit" name="submit" value="Odeslat" />
</form>
{% endblock content %}
