{% extends "articles/base.html" %}

{% block title %}{{ article.title }}{% endblock title %}

{% block content %}
<h1>Seznam článků</h1>
{% if articles %}
<ul>
    {% for article in articles %}
    <li><a href="{% url article-show article.url %}" alt="{{ article.title }}">{{ article.title }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>Zatím nejsou publikovány žádné články.</p>
{% endif %}
{% endblock content %}


