{% extends "articles/base.html" %}

{% block script %}
{% endblock script %}

{% block style %}
{% endblock style %}

{% block title %}stránka neexistuje{% endblock title %}

{% block content %}
<div id="title"><h1>Stránka neexistuje</h1></div>
<ul>
    <li>Založit článek <a href="{% url article-edit url %}">{{ url }}</a></li>
</ul>
{% endblock content %}

