{% extends "articles/base.html" %}

{% block title %}Seznam mých článků{% endblock %}

{% block content %}
{% for article in articles %}
<div class="article-thumbnail">
    <h2><a href="{% url article-show article.url %}" title="{{ article.title }}">{{ article.title }}</a></h2>
    {% if article.perex %}
    <p>{{ article.perex }}</p>
    {% else %}
    <p>{{ article.article_html|safe|truncatewords_html:20|striptags }}</p>
    {% endif %}

    <div class="state">
        <p>
        Status:
        {% if article.status == 1 %}
        <span class="green">Kompletní</span>
        {% else %}
        <span class="red">Rozepsáno</span>
        {% endif %}
        <p>Publikován: <em>{{ article.pub_date }}</em></p>
        <p>Modifikován: <em>{{ article.modified }}</em></p>
    </div>
    <p class="actions">
    <a class="edit" href="{% url article-edit article.url %}" title="Editovat článek {{ article.title }}">Editovat</a>
    <a class="delete" href="{% url article-delete article.url %}" title="Smazat článek {{ article.title }}">Smazat</a>
    </p>
</div>
{% endfor %}
{% endblock %}
