<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
    <head>
        {% load thumbnail %}
        {% if debug %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
        {% else %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
        {% endif %}
        {% block script %}
        {% endblock %}

        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" media="screen,projection" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/list.css" media="screen,projection" type="text/css" />
        <!--[if lte IE 8]>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style-ie.css" media="screen,projection" type="text/css" />
        <![endif]-->

        <script>
            function insertPicture(name, path, num)  {
            try {
            //parent.$.markItUp( { replaceWith:'<img src="'+path+'" alt="[![Alt Text:!:'+name+']!]" />' } );
            var form = $('form#image-'+num);
            flt = form.find('input:radio[name=float]:checked').attr('value');
            img = form.find('select[name=size]>option:selected').attr('value');
            //data.editor.execCommand(data.command, "<img style=\"float: "+flt+"; margin: 4px;\" src=\""+img+"\" alt=\""+name+"\" />", null, data.button);
            parent.$.markItUp( { replaceWith:'![[![Alt Text:!:'+name+']!]]('+img+')' } );
            parent.$.modal.close();
            } catch(e) {
            alert("No markItUp! Editor found");
            }
            }
        </script>


        {% block style %}
        {% endblock %}

        <title>Výběr obrázku</title>

    </head>
    <body>
        <div id="list">
            {% for image in images.object_list %}
            <div class="thumbnail">
                {% thumbnail image.image "200x150" as im %}
                <a title="" onclick="insertPicture('{{ image.name|default:"Obrázek" }}', '{{ im.url }}', {{ forloop.counter }})"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
                {% endthumbnail %}
                <h6>{{ image.name|default:"Obrázek" }}</h6>
                <form id="image-{{ forloop.counter }}" class="parameters">
                    <label for="size">Velikost:</label>
                    <select name="size">
                        <option value="{{ image.image.url }}">Originál</option>
                        {% thumbnail image.image "400x300" format="PNG" as im %}
                        <option value="{{ im.url }}">Velký</option>
                        {% endthumbnail %}
                        {% thumbnail image.image "200x150" format="PNG" as im %}
                        <option value="{{ im.url }}">Střední</option>
                        {% endthumbnail %}
                        {% thumbnail image.image "100x75" format="PNG" as im %}
                        <option value="{{ im.url }}">Malý</option>
                        {% endthumbnail %}
                    </select>
                    <br />
                    <label for="float">Zarovnání:</label>
                    <br />
                    <input type="radio" name="float" value="left" checked="checked" />Vlevo
                    <input type="radio" name="float" value="both" />Na střed
                    <input type="radio" name="float" value="right" />Vpravo
                    <input type="radio" name="float" value="none" />Nic
                </form>
            </div>

            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if images.has_previous %}
                    <a href="?page={{ images.previous_page_number }}">Předchozí</a>
                    {% endif %}

                    {% if images.paginator.num_pages > 1 %}
                    {% for i in images.paginator.page_range %}
                    {% if images.number == i %}
                    <span class="current">{{ i }}</span>
                    {% else %}
                    <a href="?page={{ i }}">{{ i }}</a>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    {% if images.has_next %}
                    <a href="?page={{ images.next_page_number }}">Další</a>
                    {% endif %}
                </span>
            </div>
            <div class="clr"></div>
        </div>
    </body>
</html>

