@charset "utf-8";

#overlay {position:absolute; top:0; left:0; height:100%; width:700px; background: green;}
#overlay a {}
#overlay img {}

.fake {background: yellow; width:200px; height: 200px; float: left; margin: 10px;}
