body {background: #ffffff;}
h6 {margin: 5px;}
#list {margin: 20px auto 20px auto; width: 800px;}
.thumbnail {border: 1px solid gray; width: 230px; height: 230px; float: left; margin: 5px; padding: 2px; text-align: center;}
.thumbnail .parameters {text-align: left;}

