{% extends "base.html" %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block content %}
{% for obj in object_list %}
<div class="article">
    <h2><a href="{% url news-message obj.valid_from.year obj.valid_from.month obj.valid_from.day obj.url %}">{{ obj.title }}</a></h2>
    {{ obj.news_message_html|safe|truncatewords_html:10 }}
</div>
{% endfor %}
{% endblock %}

