{% extends "base.html" %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block content %}
<div class="article">
    <h1>{{ object.title }}</h1>
    {{ object.news_message_html|safe }}
</div>
{% endblock %}

